<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vzorce.vzorce.beta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application xmlns:android="http://schemas.android.com/apk/res/android"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:allowBackup="true"
        android:icon="@mipmap/ikonka3"
        android:label="Vzorce"
        android:roundIcon="@mipmap/ikonka3"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Matematika"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Vyrazy"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_KvadratickeRovnice"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Dynamika"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhZvisloNahor"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhVodorovny"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhSikmy"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_LatkoveMnozstvo"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_LatkoveMnozstvo_Info"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_MolarnyObjem"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_MolarnyObjem_Info"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_ChemickeMnozstvo"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_ChemickeMnozstvo_Info"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_ChemickeMnozstvo_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_MolarnaHmotnost"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_MolarnaHmotnost_Info"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_Roztoky"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_Roztoky_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_Roztoky_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chemia_Roztoky_Info3"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Kinematika"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Kinematika_Infovst"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Kinematika_Infotva"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Kinematika_Infosat2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Kinematika_Infov2as"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Kinematika_Infoa2sv"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Kinematika_Infosvv2a"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Dynamika_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Dynamika_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Dynamika_Info3"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhZvisloNahor_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhZvisloNahor_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhZvisloNahor_Info3"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhVodorovny_Infoxvt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhVodorovny_Infoyvtgt2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhVodorovny_Infot2hg"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhVodorovny_Infodv2hg"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhVodorovny_Infov2ghv"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhSikmy_Infoxxvtcosalfa"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhSikmy_Infoyyvtsinalfagt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhSikmy_Infodvgsin2alfa"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Vrhy_VrhSikmy_Infoymaxvsinalfa2g"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Mocniny"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Odmocniny"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_LinearnaFunkcia"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikaTuhehoTelesa"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikaTuhehoTelesa_MomentZotrvacnosti"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikaTuhehoTelesa_infomfa"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikeTuhehoTelesa_infoekp"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikeTuhehoTelesa_infoeko"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikeTuhehoTelesa_infoomegavr"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikeTuhehoTelesa_infoomegapit"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikeTuhehoTelesa_infovpirt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikaTuhehoTelesa_MomentZotrvacnosti_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikaTuhehoTelesa_MomentZotrvacnosti_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikaTuhehoTelesa_MomentZotrvacnosti_Info3"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikaTuhehoTelesa_MomentZotrvacnosti_Info4"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Hustota"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Hustota_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_MechanikeTuhehoTelesa_infofafa"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Sila"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Sila_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Sila_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Teplo"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Teplo_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Seriovo"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Paralelne"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_InfoRUI"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_InfoWUIt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_InfoPUI"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_InfoPRI"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Seriovo_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Seriovo_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Paralelne_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Paralelne_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Striedavy"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Striedavy_Info1"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Striedavy_Info2"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Striedavy_Info4"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fyzika_Elektrina_Striedavy_Info3"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Rovinne"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Rovinne_Stvoruholniky"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Rovinne_Stvoruholniky_Stvorec"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Stvorec_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Stvoruholniky_Obdlznik"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Obdlznik_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Stvoruholniky_Kosostvorec"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Kosostvorec_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Stvoruholniky_Kosodlznik"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Kosodlznik_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Stvoruholniky_Rovnobeznik"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Stvoruholniky_Lichobeznik"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Lichobeznik_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Rovnobeznik_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Rovinne_Trojuholniky"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Trojuholniky_Pravouhly"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Trojuholniky_Rovnoramenny"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Trojuholniky_Rovnostranny"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Trojuholniky_Vseobecny"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Trojuholniky_Pravouhly_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Trojuholniky_Rovnoramenny_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Trojuholniky_Rovnostranny_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Trojuholniky_Vseobecny_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_nuholnik"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_nuholnik_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Kruhy"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Rovinne_Kruhy_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Hranate"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Hranate_Kocka"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Hranate_Kvader"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Hranate_4Ihlan"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Hranate_4ZrezanyIhlan"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Kocka_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_Kvader_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_4Ihlan_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matematika_Geometria_4ZrezanyIhlan_Nacrt"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fyzika_Magnetizmus"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fyzika_Magnetizmus_Infouilit"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fyzika_Magnetizmus_Infofili"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fyzika_Magnetizmus_Infofinbscosalfa"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fyzika_Magnetizmus_Infofibscosalfa"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fyzika_Magnetizmus_Infouifit"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fyzika_Magnetizmus_Infoemli"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Fyzika_Magnetizmus_Infofmbilsinalfa"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"/>
    </application>

</manifest>