<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.riaditelka.myapplication">

    <application xmlns:android="http://schemas.android.com/apk/res/android"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:allowBackup="true"
        android:icon="@mipmap/ikonka2"
        android:label="VZORCE"
        android:roundIcon="@mipmap/ikonka2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Matematika"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden" />
        <activity android:name=".Fyzika"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Matematika_Vyrazy"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Matematika_KvadratickeRovnice"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Dynamika" />
        <activity android:name=".Fyzika_Vrhy_VrhZvisloNahor"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhVodorovny"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhSikmy"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_LatkoveMnozstvo"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_LatkoveMnozstvo_Info"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_MolarnyObjem"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_MolarnyObjem_Info"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_ChemickeMnozstvo"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_ChemickeMnozstvo_Info"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_ChemickeMnozstvo_Info2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_MolarnaHmotnost"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_MolarnaHmotnost_Info"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_Roztoky"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_Roztoky_Info1"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Chemia_Roztoky_Info2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden" />
        <activity android:name=".Chemia_Roztoky_Info3"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Kinematika"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Kinematika_Infovst"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Kinematika_Infotva"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Kinematika_Infosat2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Kinematika_Infov2as"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Kinematika_Infoa2sv"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Kinematika_Infosvv2a"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Dynamika_Info1"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Dynamika_Info2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Dynamika_Info3"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhZvisloNahor_Info1"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhZvisloNahor_Info2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhZvisloNahor_Info3"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhVodorovny_Infoxvt"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhVodorovny_Infoyvtgt2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhVodorovny_Infot2hg"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhVodorovny_Infodv2hg"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhVodorovny_Infov2ghv"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhSikmy_Infoxxvtcosalfa"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhSikmy_Infoyyvtsinalfagt"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhSikmy_Infodvgsin2alfa"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Fyzika_Vrhy_VrhSikmy_Infoymaxvsinalfa2g"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".Matematika_Mocniny"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>
    </application>

</manifest>